{% use 'form_div_layout.html.twig' with form_label as base_form_label %}

{% block form_label %}
    {{ block('base_form_label') }}

    {% if required %}
        <span class="required" title="This field is required">*</span>
    {% endif %}
{% endblock %}

{% extends 'base.html.twig' %}

{% block title %}Adhésion au Parti de Gauche{% endblock %}

{% block container %}
<div class="row">
    <div class="col-md-6">
        <h1>J'adhère au Parti de Gauche</h1>

<div>
    <p>
        L’adhésion au Parti de Gauche comprend l’abonnement au journal hebdomadaire L’Heure du Peuple.
    </p>
    <p>
        La cotisation, versée à l’AFPG (Association de Financement du Parti de Gauche*), donne droit à une réduction d’impôts de 66% de son montant. Ce montant, fixé nationalement, est modulé en fonction des revenus.
    </p>
    <ul>
        La cotisation militante est fixée par tranches en fonction du revenu :
        <li>personnes sans revenu régulier ou dont les revenus ne dépassent pas les minima sociaux : 12 € annuels ;</li>
        <li>revenu inférieur à 1000 € : 36 € annuels ;</li>
        <li>entre 1000 et 1500 € : 60 € annuels ;</li>
        <li>entre 1500 et 2000 € : 120 € annuels ;</li>
        <li>entre 2000 et 2500 € : 228 € annuels ;</li>
        <li>entre 2500 et 3000 € : 336 € annuels ;</li>
        <li>entre 3000 et 3500 € : 480 € annuels ;</li>
        <li>entre 3500 et 4000 € : 660 € annuels ;</li>
        <li>supérieur à 4000 € : 840 € annuels et plus…</li>
    </ul>
    <p>
        Ce barème est indicatif et les soutiens sont les bienvenus.
    </p>
    <ul>
        La cotisation militante est payable soit :
        <li>Annuellement par chèque libellé à l’ordre de l’AFPG en remplissant le bulletin d’adhésion téléchargeable (cliquez sur ce lien) ou à retirer dans les comités locaux, à retourner à : Parti de Gauche, 20-22 rue Doudeauville, 75018 Paris. Vous avez
            la possibilité de fractionner votre paiement en établissant plusieurs chèques et en indiquant derrière le chèque la date de dépôt.</li>
        <li>Mensuellement par prélèvement automatique à l’aide du bulletin d’adhésion téléchargeable (cliquez sur ce lien) en remplissant et en signant les 2 colonnes, joindre obligatoirement un RIB ou RIP et envoyer l’ensemble à : Parti de Gauche, 20-22
            rue Doudeauville, 75018 Paris.</li>
        <li>En ligne en complétant les champs ci-dessous. Attention : cette adhésion ou réadhésion est annuelle et s’effectue par Carte Bancaire en seule fois.</li>
    </ul>
    <p>
        Une cotisation spécifique est versée par les élus en fonction du montant de leur indemnité.
    </p>
    <p>
        La cotisation d’élu-e correspond à 20 % des indemnités d’élu. Elle est payable, dans un deuxième temps pour les adhésions en ligne, par chèque ou prélèvement automatique à l’aide du bulletin d’adhésion téléchargeable (cliquez sur ce lien) ou à retirer
        dans les comités locaux, et à envoyer à Parti de Gauche, 20-22 rue Doudeauville, 75018 Paris.
    </p>
    <p>
        Pour les élu-e-s, seul le paiement des 2 cotisations, militante et d’élu, validera l’adhésion.
    </p>
    <p>
        * Association agréée le 12/03/2007 (N°893) - dernière parution au JO le 12/03/2016
    </p>
    <p>
        Protection des données personnelles : Conformément à la loi "Informatique et libertés" du 6 janvier 1978, vous bénéficiez d’un droit d’accès et de rectification aux informations vous concernant. Si vous souhaitez exercer ce droit et obtenir communication
        des informations, merci d’adresser votre demande au Parti de Gauche, 20-22 rue Doudeauville, 75018 Paris.
    </p>
</div>

        {{ form(form) }}
    </div>
</div>
{% endblock %}
