{% use 'form_div_layout.html.twig' with form_label as base_form_label %}

{% block form_label %}
    {{ block('base_form_label') }}

    {% if required %}
        <span class="required" title="This field is required">*</span>
    {% endif %}
{% endblock %}

{% extends 'base.html.twig' %}

{% block title %}Faire un don au Parti de Gauche{% endblock %}

{% block container %}
<div class="row">
    <div class="col-md-9">
        <h1>Je soutiens les actions du Parti de Gauche, je fais un don.</h1>
        <div>
    <p>
        La loi n°95-65 du 19 janvier 1995, précise que seules les personnes
        physiques sont autorisées à verser des dons et des cotisations à un ou
        plusieurs partis ou groupements politiques. Tout don de personne morale
        (entreprise, association, SCI, compte professionnel de professions
        libérales ou de commerçants…) est donc interdit.
    </p>
    <p>
        Le montant cumulé des dons et des cotisations d’adhérent-e à une ou plusieurs
        formations politiques est plafonné à 7 500 euros par personne et par an depuis
        la loi n° 2013-907 du 11 octobre 2013.
    </p>
    <p>
        Le Parti de Gauche ne peut accepter de dons que par l’intermédiaire de
        son mandataire financier : l’Association de Financement du Parti de Gauche
        (AFPG, agréée le 12/03/2007, n°893, dernière parution au JO le 31/12/2016).
    </p>
    <p>
        Les dons et cotisations en espèces de plus de 150 € (cumulées sur un an)
        ne sont pas acceptés et ne donnent pas droit à réduction d’impôt.
    </p>
    <p>
        Les dons et les cotisations versés à l’AFPG par chèque ou carte ou
        virement donnent droit à une réduction d’impôt égale à 66% des sommes
        versées, dans les limites fixées par la loi.
    </p>
    <p>
        Vous pouvez également faire un don par chèque libellé à l’ordre de AFPG
        en envoyant votre chèque <a href="{{ asset('pdf/Formulaire_don_Je_soutiens_les_actions_du_PG_2018.pdf') }}">
        avec ce formulaire téléchargeable</a> (cliquez sur ce lien).
    </p>
    <dl>
        <dt>
            Premier alinéa de l'article 11-4 de la loi 88-227 du 11 mars 1988 modifiée :
        </dt>
        <dd>
            « Une personne physique peut verser un don à un parti ou groupement
            politique si elle est de nationalité française ou si elle réside en
            France. Les dons consentis et les cotisations versées en qualité
            d'adhérent d'un ou de plusieurs partis ou groupements
            politiques par une personne physique dûment identifiée à une ou
            plusieurs associations agréées en qualité d'association de
            financement ou à un ou plusieurs mandataires financiers d'un ou de
            plusieurs partis ou groupements politiques ne
            peuvent annuellement excéder 7 500 euros. »
        </dd>
        <dt>
            Troisième alinéa de l'article 11-4 :
        </dt>
        <dd>
            « Les personnes morales à l'exception des partis ou groupements
            politiques ne peuvent contribuer au financement des partis ou
            groupements politiques, ni en consentant des dons, sous quelque
            forme que ce soit, à leurs associations de financement ou à leurs
            mandataires financiers, ni en leur fournissant des biens, services
            ou autres avantages directs ou indirects à des prix inférieurs à
            ceux qui sont habituellement pratiqués. Les personnes morales, à
            l'exception des partis et groupements
            politiques ainsi que des établissements de crédit et sociétés de
            financement ayant leur siège social dans un Etat membre de l'Union
            européenne ou partie à l'accord sur l'Espace économique européen,
            ne peuvent ni consentir des prêts aux
            partis et groupements politiques ni apporter leur garantie aux prêts
            octroyés aux partis et groupements politiques. »
        </dd>
        <dt>
            Premier alinéa de l'article 11-5 :
        </dt>
        <dd>
            « Les personnes qui ont versé un don ou consenti un prêt à un ou
            plusieurs partis ou groupements politiques en violation des articles
             11-3-1 et 11-4 sont punies de trois ans d'emprisonnement et de
             45 000 € d'amende. »
        </dd>
        <dt>
            Protection des données personnelles :
        </dt>
        <dd>
            Conformément à la loi "Informatique et libertés" du 6 janvier 1978,
            vous bénéficiez d’un droit d’accès et de rectification aux
            informations vous concernant. Si vous souhaitez exercer ce droit et
            obtenir communication des informations, merci d’adresser
            votre demande au Parti de Gauche, 20-22 rue Doudeauville, 75018 Paris.
        </dd>
    </dl>
</div>
        {{ form(form) }}
    </div>
</div>
{% endblock %}
