{% extends 'base.html.twig' %}

{% block container %}
<div class="row">
    <div class="col-md-9">
        <h1>Don enregistré</h1>
        <div>
            Votre promesse de don a été enregistrée avec succès.
        </div>
    </div>
</div>
{% endblock %}
