{% extends 'base.html.twig' %}

{% import '@LexikPaybox/Macro/paybox.html.twig' as paybox %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Paiement de la cotisation en ligne</h1>
        <div class="alert alert-success text-justify col-md-9" role="alert">
            <p>
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            Votre demande d'adhésion est enregistrée.
            </p>
        </div>

        <div class="alert alert-info text-justify" role="alert">
            <p>
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            Vous avez choisi de payer votre cotisation en ligne.
            {% if paybox_enabled %}
                En cliquant sur Payer, vous allez être rediriger vers la plateforme de paiement
sécurisée Paybox.
            {% else %}
                Ce mode de paiement est temporairement indisponible.
                Vous serez notifié par mail lorsque celui-ci sera rétabli.
            {% endif %}
            </p>

        </div>
        {% if paybox_enabled %}
        <form action="{{ url }}" method="post">
            {{ form_widget(form) }}
            <input type="submit" value="Payer {{ payment.amount }}€" />
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}
